---
# image configuration
image:
  name: vibioh/scratch
  tag: latest
  pullPolicy: Always
  pullSecretNames:
    - dockerhub

restartPolicy: Never
concurrencyPolicy: Forbid
schedule: "0 6 * * *"
timeZone: ""

successfulJobsHistoryLimit: 2
failedJobsHistoryLimit: 2
backoffLimit: 3

containers:
  - name: job
    command: []
    args: []

# port HTTP listened
port: 0

# config map passed as env var to the pod
config: {}

# env inlined to the pod
env: {}

# secrets map, in the form of a Sealed Secrets,passed as env var to the pod
secrets: {}

# labels added on the deployment
labels: {}

# nodeSelector for the deployment
nodeSelector: {}

# affinity for the deployment
affinity: {}

# tolerations for the deployment
tolerations: []

# securityContext for the main container
securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  capabilities:
    drop:
      - ALL

# resources are the requests and limits for defining the QoS
resources:
  limits:
    memory: 64Mi
  requests:
    cpu: 100m
    memory: 64Mi
